@charset 'utf8'
@import '../../../node_modules/bulma/bulma'
@import 'colors'
@import 'typography'
@import 'notifications'
@import 'content-box'
@import 'statistics'
@import 'line-chart'

html
  background: $white
  font-family: $open-sans
  height: 100%

  .hero
    background: $white
