<div class="hero">
  <div class="hero-body">
    <div class="container" *ngIf="!loaded">
      <svg width="55" height="80" viewBox="0 0 55 80" xmlns="http://www.w3.org/2000/svg" fill="#2AFFED" class="loading">
          <g transform="matrix(1 0 0 -1 0 80)">
              <rect width="10" height="20" rx="3">
                  <animate attributeName="height"
                      begin="0s" dur="4.3s"
                      values="20;45;57;80;64;32;66;45;64;23;66;13;64;56;34;34;2;23;76;79;20" calcMode="linear"
                      repeatCount="indefinite" />
              </rect>
              <rect x="15" width="10" height="80" rx="3">
                  <animate attributeName="height"
                      begin="0s" dur="2s"
                      values="80;55;33;5;75;23;73;33;12;14;60;80" calcMode="linear"
                      repeatCount="indefinite" />
              </rect>
              <rect x="30" width="10" height="50" rx="3">
                  <animate attributeName="height"
                      begin="0s" dur="1.4s"
                      values="50;34;78;23;56;23;34;76;80;54;21;50" calcMode="linear"
                      repeatCount="indefinite" />
              </rect>
              <rect x="45" width="10" height="30" rx="3">
                  <animate attributeName="height"
                      begin="0s" dur="2s"
                      values="30;45;13;80;56;72;45;76;34;23;67;30" calcMode="linear"
                      repeatCount="indefinite" />
              </rect>
          </g>
      </svg>
    </div>

    <div class="container" *ngIf="loaded">
      <div class="columns">
        <div class="column is-12">
          <div class="content-box">
            <div class="content-box-head">
              <span>Server Statistics</span>
            </div>
            <div class="content-box-main">

              <!--<div class="columns is-multiline">
                <div class="column is-12">
                  <h3>CPU Load Average</h3>
                </div>
                <div class="column is-4">
                  <app-cpu-line-chart [value]="loadAvg1Min" [options]="{ color: '#3A84C5', title: 'Load Average 1min' }"></app-cpu-line-chart>
                </div>
                <div class="column is-4">
                  <div class="line-chart">
                    <app-cpu-line-chart [value]="loadAvg5Min" [options]="{ color: '#65DBFF', title: 'Load Average 5min' }"></app-cpu-line-chart>
                  </div>
                </div>
                <div class="column is-4">
                  <app-cpu-line-chart [value]="loadAvg15Min" [options]="{ color: '#6E7F9A', title: 'Load Average 15min' }"></app-cpu-line-chart>
                </div>
              </div>-->

              <div class="columns is-multiline">
                <div class="column is-12">
                  <h3>Network Utilization</h3>
                </div>
                <div class="column is-6" *ngFor="let net of netData; let i = index;">
                  <app-network-line-chart [iface]="net.iface" [speedIn]="net.inSpeed" [speedOut]="net.outSpeed"></app-network-line-chart>
                </div>
              </div>

              <div class="columns is-multiline">
                <div class="column is-12">
                  <h3>CPU Core Usage</h3>
                </div>
                <div class="column is-6">
                  <app-cpu-pie [value]="cpuData"></app-cpu-pie>
                </div>
                <div class="column is-6">
                  <app-cpu-bar-chart [value]="cpuData"></app-cpu-bar-chart>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
